<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <div class="ft">
        <footer>
            <p class="u_crt">
                <span class="u_cri">개인정보취급방침</span>
            </p>
            <div class="ft_info">
                <div class="ft_box">
                    <dl class="business_info">
                        <dt>대표자명</dt>
                        <dd>윤경섭</dd>
                        <dt>사업자번호</dt>
                        <dd>210-81-78365</dd>
                        <dt>e-mail</dt>
                        <dd>jmsys14@naver.com</dd>
                        <dt>주소</dt>
                        <dd>서울시 송파구 송파대로 167 테라타워 B동 603호</dd>
                    </dl>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
