<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/firevo.css" type="text/css"/>
    <title>Firevo</title>
    <style type="text/css">
        .main_row .row div {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 10px;
        }

        .main_row .row:last-child div {
            padding-bottom: 0px;
        }
    </style>
</head>
<body>
<div class="pos-f-t">
    <div th:include="header :: copy"></div>
    <div class="container-fluid main_row">
        <div class="row">
            <div class="col-12">
                <a href="/map"><img class="img-responsive" src="http://jmsys14.negagea.kr/firevo/resources/firevo_main.jpg" style="width:100%;"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-responsive img-rounded" src="http://jmsys14.negagea.kr/firevo/resources/p_01.jpg" style="width:100%;"/>
            </div>
            <div class="col-4">
                <img class="img-responsive img-rounded" src="http://jmsys14.negagea.kr/firevo/resources/p_10.jpg" style="width:100%;"/>
            </div>
            <div class="col-4">
                <img class="img-responsive img-rounded" src="http://jmsys14.negagea.kr/firevo/resources/p_14.jpg" style="width:100%;"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img class="img-responsive" src="http://jmsys14.negagea.kr/firevo/resources/product_inquiry.jpg" style="width:100%;"/>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-responsive" src="http://jmsys14.negagea.kr/firevo/resources/afterservice.jpg" style="width:100%;"/>
            </div>
            <div class="col-6">
                <img class="img-responsive" src="http://jmsys14.negagea.kr/firevo/resources/partnership.jpg" style="width:100%;"/>
            </div>
        </div>
    </div>
    <div th:include="footer :: copy"></div>
</div>
</body>
</html>